.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2em;
    margin: 3em auto;
}

.form > input{
    font-size: 18px;
    width: 40ch;
    border: none;
    box-shadow: 0 2px 0 0 rgb(138, 138, 138);
    outline: none;
    margin-top: 1em;
}